body {
    direction: ltr;
    text-align: left !important;
}
.logo-link {
    float: left !important;
}

.service-item h4 span {
    float: right !important;
}

.popular-places .popular-item .thumb .text-content {
    text-align: left !important;
}

footer .useful-links ul li i {
    margin-right: 8px !important;
}